Repository keishi-hashimoto/20251002-apigw-lambda-infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: terraform fmt, terraform validate, action lint

terraform fmt:
  name: terraform fmt
  language: system
  entry: terraform fmt -check

terraform validate:
  name: terraform validate
  language: system
  entry: terraform validate
  pass_filenames: false

action lint:
  name: action lint
  language: system
  entry: actionlint

✨ PR 時に terraform plan を行うように修正
  .github/workflows/plan.yaml
  .tfnotify.yaml
Due: action lint

✨ main ブランチへの push 時に terraform apply するように修正
  .github/workflows/apply.yaml
Due: action lint

✨ 初回 apply を考慮して、ダミーの zip ファイルを用意
  dummy.zip
  main.tf
Due: terraform fmt, terraform validate

✨ lambda permission を追加
  .env.sample
  .github/workflows/apply.yaml
  .github/workflows/plan.yaml
  main.tf
  variables.tf
Due: terraform fmt, terraform validate, action lint

🐛 不要な source arn を削除
  main.tf
Due: terraform fmt, terraform validate

✨ route と stage の入れ忘れ
  main.tf
Due: terraform fmt, terraform validate

😇 route target のフォーマット誤り
  main.tf
Due: terraform fmt, terraform validate

😇 deployment の commit 漏れ
  main.tf
Due: terraform fmt, terraform validate

✨ apigateway deployment に create before destroy を指定
  main.tf
Due: terraform fmt, terraform validate

✨ API Gateway に CORS 設定を追加
  main.tf
Due: terraform fmt, terraform validate

✨ API gateway に allow headers と allow methods を追加
  main.tf
Due: terraform fmt, terraform validate

🚢 API Gateway の設定変更時には自動で再デプロイするように修正
  main.tf
Due: terraform fmt, terraform validate

🐛 preflight リクエストの内容が lambda に渡らないように、route を修正
  main.tf
Due: terraform fmt, terraform validate

💪 route を再デプロイの対象に追加
  main.tf
Due: terraform fmt, terraform validate

😇 auto_deploy が true の場合は deployment_id は指定不可だったので修正
  main.tf
Due: terraform fmt, terraform validate

✨ 静的サイトホスティング用のバケットを追加
  .env.sample
  static_site_hosting.tf
  variables.tf
Due: terraform fmt, terraform validate

🚢 ワークフローファイルに環境変数を追加
  .github/workflows/apply.yaml
  .github/workflows/plan.yaml
Due: action lint

💪 tf ファイルを src 以下に移動
  src/dummy.zip
  src/main.tf
  src/static_site_hosting.tf
  src/variables.tf
Due: terraform fmt, terraform validate

💪 lambda と API Gateway をそれぞれ個別のファイルに分割
  src/apigw.tf
  src/lambda.tf
  src/main.tf
Due: terraform fmt, terraform validate

🎬 terraform init 時のディレクトリを変更
  mise-tasks/tf-init.sh
Due: none

💪 リファクタリングに伴い lock ファイルを移動
  .terraform.lock.hcl
  src/.terraform.lock.hcl
Due: none

🚢 リファクタリングに伴いワークフローファイルを修正
  .github/workflows/apply.yaml
  .github/workflows/plan.yaml
Due: action lint

🚢 ディレクトリ移動に伴い tfnotify.yaml のパスを明示的に指定
  .github/workflows/apply.yaml
  .github/workflows/plan.yaml
Due: action lint

✨ DynamoDB を追加
  .env.sample
  src/dynamodb.tf
  src/variables.tf
Due: terraform fmt, terraform validate

🚢 ワークフローファイルに環境変数を設定
  .github/workflows/apply.yaml
  .github/workflows/plan.yaml
Due: action lint

✨ Dynamo DB のテーブル名を環境変数に追加
  src/lambda.tf
  src/variables.tf
Due: terraform fmt, terraform validate

✨ lambda に dynamodb への書き込み権限を追加
  src/lambda.tf
Due: terraform fmt, terraform validate

😇 policy document では principal 指定は NG だった...
  src/lambda.tf
Due: terraform fmt, terraform validate

✨ X-Ray への書き込み権限を lambda に付与
  src/lambda.tf
Due: terraform fmt, terraform validate

✨ Active Tracing の有効化
  src/lambda.tf
Due: terraform fmt, terraform validate

💪 組み込みポリシーを利用した記法に修正
  src/lambda.tf
Due: terraform fmt, terraform validate

✨ API Gateway に Cloud Watch Logs へのログ出力設定を追加
  src/apigw.tf
  src/cloudwatch.tf
Due: terraform fmt, terraform validate

✨ [#25] 特典配信用の S3 バケットを作成
  .env.sample
  .github/workflows/apply.yaml
  .github/workflows/plan.yaml
  src/lambda.tf
  src/present.html
  src/present_bucket.tf
  src/variables.tf
Due: terraform fmt, terraform validate, action lint

✨ [#27] バケット名およびキーを lambda 関数の環境変数に設定
  src/lambda.tf
Due: terraform fmt, terraform validate

😇 バケットのオブジェクトキーが誤っていたので修正
  src/present_bucket.tf
Due: terraform fmt, terraform validate

😇 オブジェクトの ARN を指定すべき箇所でバケットの ARN を指定してしまっていたので修正
  src/lambda.tf
Due: terraform fmt, terraform validate

✨ [#31] 送信元メールアドレスを lambda 環境変数に設定
  .env.sample
  .github/workflows/apply.yaml
  .github/workflows/plan.yaml
  src/lambda.tf
  src/variables.tf
Due: terraform fmt, terraform validate, action lint

✨ [#32] lambda ロールにメールの送信権限を付与
  src/lambda.tf
Due: terraform fmt, terraform validate

Path conditions:
  terraform fmt: any of: \.(tf|tfvars)$
  terraform validate: any of: \.(tf|tfvars)$
  action lint: any of: \.github/workflows/ and \.(yaml|yml)$
